<mat-toolbar color="success">
  
          
    <button (click)="menubuttonClicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

  <span>Marketing</span>
  <span class="example-spacer"></span>

  <div class="flex-container">
   <ul>


   
      


       
      <!-- button 1-->
        <li>
          
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>settings</mat-icon>
          </button>
      
        </li>
        <!-- button 2 -->
        <li>
          
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>help</mat-icon>
          </button>
        
      
        </li>
        <!-- button 3 -->
        <li>
          
          <button  [matMenuTriggerFor]="menu"mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>person</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>logout</mat-icon>Logout </button>
            <button mat-menu-item> <mat-icon>personadd</mat-icon>Add Account</button>
          </mat-menu>
        </li>

        <!-- button 4 -->
        <li>
          
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>download</mat-icon>
          </button>
        </li>
   </ul>
  </div>
  </mat-toolbar>
