.flex-container{width: 100%;}

.flex-container ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    list-style: none;
}
mat-toolbar{
    background-color: black;
    color: aliceblue;
}
