<!-- header -->
<app-header (onMenuBtnClick)="toggle()"></app-header>



<!-- sidenav -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebarOpened">
<!-- sidebar -->
<app-sidebar></app-sidebar>



    </mat-drawer>
<!-- dashboard -->
    <mat-drawer-content>
        <!-- user requested pages -->
        <router-outlet></router-outlet>



    </mat-drawer-content>
  </mat-drawer-container>
  

  <mat-divider></mat-divider>


<!-- footer -->
<app-footer></app-footer>



