<div class="bar">
    <div class="profile">
        <img src="https://www.pngmart.com/files/7/Digital-Marketing-PNG-Photo.png" alt="no image">
        <h3>Mohamed Ziyad </h3>
        <h4>world@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h3>Main menu</h3>
    <div class="pages">
        <a routerLink=""><mat-icon>dashboard</mat-icon>Dashboard</a>
        <a routerLink="employee"> <mat-icon>assignment</mat-icon>Overview</a>
        <a routerLink="Gallery"><mat-icon>reports</mat-icon> Reports</a>


    </div>
    
    <div class="pages">
        <a href="contact"><mat-icon>contacts</mat-icon>Contacts</a>
        <a href=""><mat-icon>leaderboard</mat-icon>Achievments</a>
        <a href=""><mat-icon>pages</mat-icon>All projects</a>

    </div>
</div>