<!-- card -->
<div class="cards">
    <!-- card 1 -->

    <mat-card>
        <app-card
        bg="blue"
        icon="person"
        description="student">
        
      </app-card>
      </mat-card>
    
      <mat-card>
        <app-card
        bg="green"
        icon="home"
        description="student"></app-card>
      </mat-card>

      <mat-card>
        <app-card
        bg="red"
        icon="comment"
        description="student"></app-card>
      </mat-card>



</div>
<!-- area chart -->
<div class="area">
    <app-area-chart></app-area-chart>
</div>

<!-- table and pie -->
<div class="tablepie">

<!-- table -->
    <div>
        <app-table></app-table>
    </div>
    <!-- pie chart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>